@model TestApplicationForFSIN.ViewModels.CreateInspectionViewModel

@{
    ViewData["Title"] = "CreateInspection";
}
<h1>Форма создания тех. осмотра</h1>

<div class="car_info">
    @Model.Car.Model
    @Model.Car.Registration_number
</div>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Date_inspection" class="control-label"></label>
        <div class="input-group datetimepicker" id="datetimepicker1">
            <input type="text" asp-for="Date_inspection" class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <span asp-validation-for="Date_inspection" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Remarks"></label>
        <input asp-for="Remarks" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Number"></label>
        <input asp-for="Number" class="form-control" />
        <span asp-validation-for="Number"></span>
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="Car.Id" class="form-control" />
        <input type="hidden" asp-for="Car.Model" class="form-control" />
        <input type="hidden" asp-for="Car.Registration_number" class="form-control" />
        <input type="hidden" asp-for="Car.Release" class="form-control" />
        <input type="hidden" asp-for="Car.Date_of_registration" class="form-control" />
    </div>
    <input type="submit" value="Добавить" class="btn btn-primary" />
</form>
<div>
    <a asp-controller="Tech_Inspection" asp-action="getInspections" asp-route-car_id="@Model.Car.Id">Вернуться к списку тех.осмотров</a>
</div>


<script type="text/javascript">
    $(function () {
        $(".datetimepicker").datetimepicker({
            locale: 'ru',
            format: 'DD/MM/YYYY',
            minDate: '01/01/1885'
        });
    });
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}