@model TestApplicationForFSIN.ViewModels.EditInspectionViewModel

@{
    ViewData["Title"] = "CreateInspection";
}
<h1>Форма редактирования тех. осмотра</h1>

<form asp-action="Edit">
    <div class="form-group">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Car_Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Date_inspection"></label>
        <input type="date" asp-for="Date_inspection" class="form-control" />
        <span asp-validation-for="Date_inspection" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Remarks"></label>
        <input asp-for="Remarks" value="@Model.Remarks" class="form-control" />
        <span asp-validation-for="Remarks" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Number">Number</label>
        <input asp-for="Number" value="@Model.Number" class="form-control" />
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>
    <input type="submit" value="изменить" class="btn btn-primary" />

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}