@model TestApplicationForFSIN.Models.Car

@{
    ViewData["Title"] = "Create";
}

<h1>Форма создания автомобиля</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration_number" class="control-label"></label>
                <input asp-for="Registration_number" class="form-control" />
                <span asp-validation-for="Registration_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Release" class="control-label"></label>
                <div class="input-group datetimepicker" id="datetimepicker1">
                    <input type="text" asp-for="Release" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="Release" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_of_registration" class="control-label"></label>
                <div class="input-group datetimepicker" id="datetimepicker2">
                    <input type="text" asp-for="Date_of_registration" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="Date_of_registration" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку авто</a>
</div>

<script type="text/javascript">
    $(function () {
        $(".datetimepicker").datetimepicker({
            locale: 'ru',
            format: 'DD/MM/YYYY',
            minDate: '01/01/1885'
        });
    });
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
